__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
venv/
.env
.DS_Store
static/uploads/*
!static/uploads/.gitkeep
logs/*
!logs/.gitkeep
auto_input/*
!auto_input/.gitkeep
model/*.h5
